<header>
  <div class="container">
    
    <div class="logo" routerLink="/">
      <h1>FoodStack</h1>
    </div>

    <div class="acoes-direita">
      
      <div class="carrinho-btn" routerLink="/carrinho">
        🛒 ( {{ itensNoCarrinho }} )
      </div>

      @if (usuarioLogado) {
          <span class="nome-usuario">Olá, {{ usuarioLogado.nome }}</span>
          <button (click)="fazerLogout()" class="btn-sair">Sair</button>
      } @else {
          <button routerLink="/login" class="btn-entrar">Entrar</button>
      }
      
    </div>

  </div>
</header>