<div class="admin-container">
  <h2>Gestão de Produtos</h2>
  
  <button [routerLink]="['/admin/novo']" class="btn-novo"> + Novo Produto</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Foto</th> <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>

      @if (produtos$ | async; as lista) {
        @for (produto of lista; track produto.id) {
          <tr>
            <td>{{ produto.id }}</td>
            
            <td>
              <img [src]="produto.imagemUrl" 
                   class="admin-thumb"
                   style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
            </td>

            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.preco }}</td>
            
            <td>
              <button [routerLink]="['/admin/editar', produto.id]" class="btn-editar">Editar</button>
              <button (click)="deletarProduto(produto.id)" class="btn-excluir">Excluir</button>
            </td>
          </tr>    
        }
      }

    </tbody>
  </table>
</div>
